<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= file.fileName%></title>
</head>
<body>
  <h1><%= file.fileName%></h1>
  <% if(file.folder){%> <h2>Folder: <%= file.folder.folderName%></h2> <%} %>
  <h2>Date uploaded: <%= file.dateUploaded%></h2>
  <h2>Uploaded by: <%= file.user.name %></h2>
  <h2>File size: <%= file.fileSize%></h2>
  <a href="javascript:history.back()"><button>Go Back</button></a>
  <a href="/downloadFile/<%= file.id %>" ><button>Download</button></a>
</body>
</html> 